.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.git/**
.gitignore
tsconfig.json
tslint.json
typings.json
typings/**
vsc-extension-quickstart.md

node_modules
webpack.config.js

img/demo-enumerator.gif
img/demo-main.gif
img/demo-multiple-selections.gif
img/demo-number.gif
LICENSE